.GrabberBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vertical {
  touch-action: pan-y;
  cursor: row-resize;
}

.Horizontal {
  touch-action: pan-x;
  cursor: col-resize;
}

.Grabber {
  /* hide/show */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.GrabberBlock:hover > .Grabber,
.GrabberBlock:active > .Grabber {
  opacity: 1;
}

.GrabberBlock.Vertical {
  width: 100%;
  @apply h-2;
}

.GrabberBlock.Horizontal {
  @apply w-2;
  height: 100%;
}
