.NodeListItem {
  padding: 0.2rem 0.4rem;
  /* control */
  cursor: pointer;
  user-select: none;
  margin-bottom: 0.8rem;
}

.Active {
  transition: background-color 0.1s ease-in-out;
  background-color: var(--primary-color-dark);
  outline: 0.1rem solid var(--white-color);
}

.NodeListItem:last-child {
  margin-bottom: 0;
}
