.GrabberBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.Grabber {
  /* styling */
  width: 0.4rem;
  height: 60%;
  border-radius: 0.2rem;
  background-color: var(--white-color-dark);
  /* hide/show */
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.GrabberBlock:hover > .Grabber,
.GrabberBlock:active > .Grabber {
  opacity: 1;
}
