.NodeOutput {
  position: relative;
}

.Label {
  position: relative;
  padding: var(--common-gap);
}

.Label label {
  font-weight: bold;
}

.Result {
  background-color: var(--grey-color-dark);
  padding: var(--common-gap);
}

.ErrorHint {
  color: var(--error-color-light);
  text-align: left;
  white-space: pre-wrap;
}
