.Running::before {
  @apply absolute inset-0;
  content: '';
  box-shadow: 0 0 0.8rem 0.2rem var(--primary-color);
  animation: shinning 0.4s ease-in-out infinite alternate;
}

@keyframes shinning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.PanelControl {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
  opacity: 0;
  transition:
    transform 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
}

.PanelControlActive {
  transform: translateY(calc(-100% - 0.5rem));
  opacity: 1;
}
