.Typing {
  font-family: 'BlackOpsOne', sans-serif;
  font-size: 1rem;
  color: var(--green-color);
  line-height: 1;
  width: auto;
  transition: opacity 0.5s ease-in-out;
}

.Missing {
  opacity: 0.5;
}
