.Scrollable {
  overflow-x: auto;
  overflow-y: auto;
}

.Scrollable::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #2e3137;
}

.Scrollable::-webkit-scrollbar:horizontal {
  height: 0.6rem;
}

.Scrollable::-webkit-scrollbar-thumb {
  background-color: #64676b;
  border-radius: 0.4rem;
}

.Scrollable::-webkit-scrollbar-corner {
  display: none;
}
