.Scrollable {
  overflow-x: auto;
  overflow-y: auto;
}

.Scrollable::-webkit-scrollbar {
  width: 0.6rem;
  background-color: transparent;
}

.Scrollable::-webkit-scrollbar:horizontal {
  @apply h-2;
}

.Scrollable::-webkit-scrollbar-thumb {
  @apply rounded-[0.4rem] bg-gray-500;
}

.Scrollable::-webkit-scrollbar-corner {
  display: none;
}
