@import './theme-variables.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: #1b1f24;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  /* boxing */
  padding: var(--normal-gap);
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* font */
  font-size: 1.6rem;
}
