:root {
  --primary-color: #00c9c9;
  --primary-color-dark: #30455a;

  --white-color: #dcdcdc;
  --white-color-dark: #707378;

  --grey-color-ultra-lightest: #434953;
  --grey-color-lightest: #303540;
  --grey-color-light: #2a303a;
  --grey-color: #2b2e35;
  --grey-color-dark: #21262d;
  --grey-color-darker: #1e2228;
  --grey-color-darkest: #1b1f24;

  --green-color: #5af07c;
  --error-color: #bd3838;

  --border-radius: 0.2rem;

  --small-gap: 0.4rem;
  --common-gap: 0.8rem;
}

@media (prefers-color-scheme: light) {
  /* :root {
  } */
}
