.Button {
  /* layout */
  display: inline-flex;
  place-items: center;
  /* font */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* outlook */
  color: var(--font-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1.5rem;
  background-color: var(--background-color);
  cursor: pointer;
  /* transition */
  transition: background-color 0.25s, color 0.25s;
}

.Button:hover {
  background-color: var(--background-active-color);
}

.Button:active {
  color: var(--primary-color);
}

.Button:disabled {
  background-color: var(--disable-color);
  color: var(--disable-font-color);
  cursor: not-allowed;
}

.Button:focus,
.Button:focus-visible {
  outline: 4px auto var(--primary-color);
}
